.add-contact {

  >.btn-new{
    margin: 16px;
  }
}

.ddd-11 {
  background-color: #448aff;
  color: #ffffff;
}

.btn-cancel {
  position: absolute;
  bottom: 2px;
  right: 100px;
}

.md-progress-bar {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
}

.table-contact {
  max-height: 75vh;
}